* {
    box-sizing: border-box;
    /* remove default margin and padding from all elements */
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 1.8vh;
}

body {
    background: #333;
    background: linear-gradient(#666, #333);
    width: 100vw;
    height: 100vh;
    color: #fff;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

/* top bar */
#top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #000;
    opacity: 0.9;
    height: 10vh;
}

#top-bar .menu-button {
    text-align: center;
    justify-content: center;
    width: 8vw;
}

#top-bar .menu-button i {
    font-size: 3rem;
}

#top-bar .current-state {
    text-align: center;
    width: 80vw;
}
#top-bar .date-time {
    width: 12vw;
}

#top-bar .date-time > p {
    text-align: right;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
}

/* main content */
#main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#main-content ch5-button {
    margin: 0.5vw;
}
