* {
    box-sizing: border-box;
    /* remove default margin and padding from all elements */
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    font-size: 1.8vh;
}

body {
    background: #333;
    background: linear-gradient(#666, #333);
    width: 100vw;
    height: 100vh;
    color: #fff;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

/* utility classes */
.container-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* top bar */
#top-bar {
    background: #000;
    height: 10vh;
}

#top-bar .menu-button {
    padding-left: 2vw;
    width: 10vw;
}

#top-bar .menu-button i {
    font-size: 3rem;
}

#top-bar .current-state {
    text-align: center;
    width: 80vw;
}
#top-bar .date-time {
    width: 10vw;
}

#top-bar .date-time > p {
    text-align: right;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem; 
    padding-right: 2vw;   
    font-size: 1.2rem;
}

/* main content */
#main-content {    
    height: 80vh;    
}

#main-content h2 {    
    font-weight: lighter;
    padding-bottom: 5vh;
}

#main-content p {
    padding-bottom: 5vh;
}

/* source buttons */
#source-buttons .source-button {
    margin: 0.5vw;
}

#source-buttons .source-button .cb-btn { 
    width: 20vw;
    height: 20vh;
    font-size: 1.8rem;
}

/* bottom section */
#bottom-bar {
    height: 10vh;
}

#bottom-bar #mute-button-container {
    width: 10vw;
}

#bottom-bar #mute-button-container .cb-btn {
    width: 8vw;
    height: 7vh;
    font-size: 1.6rem;
}

#bottom-bar #volume-slider-container {
    width: 80vw;
}

#bottom-bar #volume-slider-container #volume-slider {
    width: 55vw;
}

#bottom-bar #bottom-right-container {
    width: 10vw;
}